@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    <div class="col-4">
        <div class="p-0 my-3 border">
            <div class="card">
                <img  />
            </div>
        </div>
    </div>
</div>
