@model List<CartDto>

    <form method="post">
    <br />
    
    <div class="">
        <div class="card border mt-4 container">
            <div class="card-header bg-dark text-light ml-0 row ">
                <div class="col-6">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    Shopping Cart
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning btn-sm">Continue Shopping</a>
                </div>
            </div>
            <div class="card-body">
                <div class=" d-none d-lg-block">
                    <div class="row text-info">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5">
                            Product Details
                        </div>
                        <div class="col-lg-2">
                            Price
                        </div>
                        <div class="col-lg-2">
                            Count
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>

                <hr />
               
            <div class="card-footer row">
                <div class="col-6 col-md-3 offset-md-6">
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Checkout" class="btn btn-success form-control ">
                        <span>Checkout</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
}
else
{
    <div>
        <p>Please add items to cart.</p>
    </div>
}